.custom-btn
{
    width: 80px;
    height: 30px;
    color: black;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin: 10px;
    margin-left: 37.5%;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1{
    background: rgb(99, 99, 99);
    background: linear-gradient(0deg, rgb(232, 232, 232) 0%, rgb(176, 176, 176) 100%);
    border: none;
}
.btn-1:hover{
    background: rgb(99, 99, 99);
    background: linear-gradient(0deg, rgb(176, 176, 176) 0%, rgb(232, 232, 232) 100%);
}


.purple{
    color: black;
    font-weight: 800;
}

#element{
    color: black;
}

.text-gray {
    font-size: 0.6rem;
    color: black;
}
main hr {
    border: 0;
    background: rgb(101, 101, 101);
    height: 1px;
    margin: 20px 50px;
}

.experience, .services, .projects, .academics, .skills, .contactSection {
    max-width: 80vw;
    margin: auto;
    height: 70vh;
    padding-top: 38px;
}

/* cards */
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  @media only screen and (max-width: 750px) {
    main hr{
      margin: 20px;
    }
  }